<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
    {% load static %}
</head>
<body>
<h1>My collection</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque consequuntur dignissimos ipsam laudantium numquam pariatur repellat sit sunt vel. Aut beatae ea exercitationem harum iusto laborum nisi sed velit.</span></p>
<img src="{% static 'Assets/sub1.jpeg' %}" alt="">

</body>
</html>
